<include file="Public/header" />
<header class="navbar-wrapper">
	<div class="navbar navbar-fixed-top">
		<div class="container-fluid cl"> <a class="logo navbar-logo f-l mr-10 hidden-xs" href="/Admin/Index/index.html">ZHCMS</a> <a class="logo navbar-logo-m f-l mr-10 visible-xs" href="/Admin/Index/index.html">ZHCMS</a> 
			<span class="logo navbar-slogan f-l mr-10 hidden-xs">管理后台&nbsp;&nbsp;&nbsp;<a href="/" target="_blank" class="dropDown_A" title="首页"><i class="Hui-iconfont" style="font-size:18px">&#xe625;</i></a></span> <a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs" href="javascript:;">&#xe667;</a>
		<nav id="Hui-userbar" class="nav navbar-nav navbar-userbar hidden-xs">
			<ul class="cl">
				<li>{$groups.title}</li>
				<li class="dropDown dropDown_hover">
					<a href="#" class="dropDown_A">{$username} <i class="Hui-iconfont">&#xe6d5;</i></a>
					<ul class="dropDown-menu menu radius box-shadow">
						<li><a href="javascript:;" onClick="admin_updata({$admin_id})">修改密码</a></li>
						<li><a href="#" onClick="logout()">注销账户</a></li>
				</ul>
			</li>
				<li id="Hui-skin" class="dropDown right dropDown_hover"> <a href="javascript:;" class="dropDown_A" title="换肤"><i class="Hui-iconfont" style="font-size:18px">&#xe62a;</i></a>
					<ul class="dropDown-menu menu radius box-shadow">
						<li><a href="javascript:;" data-val="blue" title="默认（蓝色）">默认（蓝色）</a></li>
						<li><a href="javascript:;" data-val="default" title="黑色">黑色</a></li>
						<li><a href="javascript:;" data-val="green" title="绿色">绿色</a></li>
						<li><a href="javascript:;" data-val="red" title="红色">红色</a></li>
						<li><a href="javascript:;" data-val="yellow" title="黄色">黄色</a></li>
						<li><a href="javascript:;" data-val="orange" title="橙色">橙色</a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
</div>
</header>
<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<volist name="menus" id="vo">
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">{$vo.icon|icon}</i> {$vo.title}<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5</i></dt>
			<dd>
		    	<?php if(isset($vo['children']) && $vo['children']){?>
				<ul>
		    		<volist name="vo.children" id="cvo">
		    		<if condition="$cvo['ishidden'] == 0">
					<li><a data-href="/Admin/{$cvo.controller}/{$cvo.method}" data-title="{$cvo.title}" href="javascript:void(0)" ><span class="Hui-iconfont">{$cvo.icon|icon}</span> &nbsp;{$cvo.title}</a></li>
					</if>
		    		</volist>
			</ul>
				<?php }?>
		</dd>
	</dl>
		</volist>
	</div>
</aside>
<!-- 没做权限管理之前的菜单
	<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe62e;</i> 系统设置<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5</i></dt>
			<dd>
								<ul>
					<li><a data-href="/Admin/site/index" data-title="配置列表" href="javascript:void(0)" ><span class="Hui-iconfont"></span> &nbsp;配置列表</a></li><li><a data-href="/Admin/site/indexConf" data-title="配置管理" href="javascript:void(0)" ><span class="Hui-iconfont"></span> &nbsp;配置管理</a></li>			</ul>
						</dd>
	</dl><dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe6bf;</i> 内容管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5</i></dt>
			<dd>
								<ul>
					<li><a data-href="/Admin/Navigation/index" data-title="导航管理" href="javascript:void(0)" ><span class="Hui-iconfont"></span> &nbsp;导航管理</a></li><li><a data-href="/Admin/SinglePage/index" data-title="单页管理" href="javascript:void(0)" ><span class="Hui-iconfont"></span> &nbsp;单页管理</a></li><li><a data-href="/Admin/ListPage/index" data-title="列表页管理" href="javascript:void(0)" ><span class="Hui-iconfont"></span> &nbsp;列表页管理</a></li>			</ul>
						</dd>
	</dl><dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe64d;</i> 资讯中心<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5</i></dt>
			<dd>
								<ul>
					<li><a data-href="/Admin/ListPage/lists?pid=14&amp;title=咨讯中心" data-title="咨讯中心" href="javascript:void(0)" ><span class="Hui-iconfont"></span> &nbsp;咨讯中心</a></li>			</ul>
						</dd>
	</dl><dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe643;</i> 公司管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5</i></dt>
			<dd>
								<ul>
					<li><a data-href="/Admin/SinglePage/listsAdd?pid=49&amp;id=50" data-title="公司简介" href="javascript:void(0)" ><span class="Hui-iconfont"></span> &nbsp;公司简介</a></li><li><a data-href="/Admin/SinglePage/listsAdd?pid=55&amp;id=56" data-title="联系我们" href="javascript:void(0)" ><span class="Hui-iconfont"></span> &nbsp;联系我们</a></li><li><a data-href="/Admin/SinglePage/listsAdd?pid=57&amp;id=58" data-title="微信号" href="javascript:void(0)" ><span class="Hui-iconfont"></span> &nbsp;微信号</a></li><li><a data-href="/Admin/SinglePage/listsAdd?pid=59&amp;id=60" data-title="网站LOGO" href="javascript:void(0)" ><span class="Hui-iconfont"></span> &nbsp;网站LOGO</a></li><li><a data-href="/Admin/Community/index" data-title="留言管理" href="javascript:void(0)" ><span class="Hui-iconfont"></span> &nbsp;留言管理</a></li>			</ul>
						</dd>
	</dl><dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe613;</i> 广告管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5</i></dt>
			<dd>
								<ul>
					<li><a data-href="/Admin/Img/index" data-title="广告位管理" href="javascript:void(0)" ><span class="Hui-iconfont"></span> &nbsp;广告位管理</a></li>			</ul>
						</dd>
	</dl><dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5</i></dt>
			<dd>
								<ul>
					<li><a data-href="/Admin/roles/index" data-title="角色管理" href="javascript:void(0)" ><span class="Hui-iconfont"> </span> &nbsp;角色管理</a></li><li><a data-href="/Admin/menu/index" data-title="权限管理" href="javascript:void(0)" ><span class="Hui-iconfont"> </span> &nbsp;权限管理</a></li><li><a data-href="/Admin/admin/index" data-title="管理员列表" href="javascript:void(0)" ><span class="Hui-iconfont"></span> &nbsp;管理员列表</a></li>			</ul>
						</dd>
	</dl>	</div>
</aside> -->
	
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<section class="Hui-article-box">
	<div id="Hui-tabNav" class="Hui-tabNav hidden-xs">
		<div class="Hui-tabNav-wp">
			<ul id="min_title_list" class="acrossTab cl">
				<li class="active">
					<span title="{$title}" data-href="welcome.html">{$title}</span>
					<em></em></li>
		</ul>
	</div>
		<div class="Hui-tabNav-more btn-group"><a id="js-tabNav-prev" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d4;</i></a><a id="js-tabNav-next" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d7;</i></a></div>
</div>
	<div id="iframe_box" class="Hui-article">
		<div class="show_iframe">
			<div style="display:none" class="loading"></div>
			<iframe scrolling="yes" frameborder="0" src="/Admin/Index/welcome.html"></iframe>
	</div>
</div>
</section>

<div class="contextMenu" id="Huiadminmenu">
	<ul>
		<li id="closethis">关闭当前 </li>
		<li id="closeall">关闭全部 </li>
</ul>
</div>
<include file="Public/js" />

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
/*修改密码*/
function admin_updata(id){
	layer.open({
		type: 2,
		area: ['500px','350px'],
		fix: false, //不固定
		maxmin: true,
		shade:0.4,
		title: '修改密码',
		content: '/Admin/Admin/add.html?id='+id
	});
}
/*注销账户*/
function logout(){
	layer.msg('注销中...', {icon: 16});
	$.ajax({
		type:'post',
		url:"/Admin/Account/logout",
		dataType:'json',
		success:function(result){}
	});
	layer.msg('注销成功...', {icon: 16});
	location.href="/Admin/Account/login.html";
}
</script> 
</body>
</html>