<include file="Public/header" />
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 内容管理 <span class="c-gray en">&gt;</span> 导航管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c"> 
		<form action="{:U('index')}" method="get">
			<input type="text" id="wd" name="keyword" placeholder="名称" style="width:330px" class="input-text" value="{$Think.get.keyword}" />
			<button class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 筛选</button>
		</form>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="delAll()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a href="javascript:;" onclick="show_add('添加导航','{:U("add")}','800','400')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加导航</a></span><span class="r">共有数据：<strong>{$count}</strong> 条</span></div>
	<table class="table table-border table-bordered table-bg table-hover table-striped">
		<thead>
			<tr class="text-c">
                <th width="15"><input type="checkbox" onclick="check_del()"></th>
				<th width="25">ID</th>
				<th width="150">导航名称</th>
				<th width="50">链接地址</th>
				<th width="50">是否推荐</th>
				<th width="50">排序</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
			<volist name="data" id="vo">
			<tr class="text-c">
                <td>
                    <input type="checkbox" name="ids[]" value="{$vo.id}">
                </td>
				<td>{$vo.id}</td>
                <td>
				<if condition="$vo['pid'] eq 0">
					{$vo.title}
				<else />
					|-----{$vo.title}
				</if>
				</td>
                <td>{$vo.url}</td>
                <td>
				<if condition="$vo['is_recommend'] eq 1 ">
					是
				<else />
					否	
				</if>
				</td>
                <td>{$vo.sort}</td>
				<td class="td-manage"> 
					<if condition="$vo['is_recommend'] eq 1 ">
						<a onclick="status({$vo.id},0)"  href="javascript:;" title="关闭推荐" style="text-decoration:none"><i class="Hui-iconfont">&#xe674;</i></a>
					<else />
						<a onclick="status({$vo.id},1)"  href="javascript:;" title="开启推荐" style="text-decoration:none"><i class="Hui-iconfont">&#xe679;</i></a>
					</if>
					<a title="排序" href="javascript:;" onclick="sort({$vo.id},'{$vo.sort}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe675;</i></a>
					<a title="编辑" href="javascript:;" onclick="show_add('导航编辑','/Admin/{$Think.CONTROLLER_NAME}/add?id={$vo.id}','800','400')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="javascript:;" onclick="del({$vo.id})" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
				</td>
			</tr>
			</volist>
			
		</tbody>
	</table>
    <!-- 分页开始 -->
    <tr class="content">
         <td colspan="3" bgcolor="#FFFFFF"><div class="pages mt-5">{$page}</div></td>  
    </tr>
    <!-- 分页结束 -->
</div>
<include file="Public/js" />
<script type="text/javascript">
/*
	参数解释：
	title	标题
	url		请求的url
	id		需要操作的数据id
	w		弹出层宽度（缺省调默认值）
	h		弹出层高度（缺省调默认值）
*/
/*导航-添加/编辑*/
function show_add(title,url,w,h){
	layer_show(title,url,w,h);
}

// 修改状态
function status(id,status){
    if(status){
		var title = "开启推荐";
	}else{
		var title = "关闭推荐";
	}
	layer.confirm('确认要'+title+'吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '{:U("status")}', 
			data:{id:id,status:status},
			dataType: 'json',
			success:function(result){
				if(result=='OK'){
					layer.msg('已'+title,{icon:1,time:1000});
					setTimeout("location.reload()",1000);
				}else{
					layer.alert(result, {icon: 2,title :'错误提示'});
				}
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}
//排序修改
function sort(id,val){
	layer.prompt({value:val,title: '请输入数值，数值越大排序越前', formType: 0},function(sort, index){
		  layer.close(index);
		layer.msg('正在修改', {icon: 16});
		$.ajax({
			type: 'POST',
			url: '{:U("sort")}', 
			data:{id:id,sort:sort},
			dataType: 'json',
			success:function(result){
				if(result=='OK'){
					layer.msg('操作成功',{icon:1,time:1000});
					setTimeout("location.reload()",1000);
				}else{
					layer.alert(result, {icon: 2,title :'错误提示'});
				}
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}
//删除
function del(id){
	layer.confirm('确认要删除该条内容吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '{:U(delete)}', 
			data:{id:id},
			dataType: 'json',
			success:function(result){
				if(result=='OK'){
					layer.msg('已删除',{icon:1,time:1000});
					setTimeout("location.reload()",1000);
				}else{
					layer.alert(result, {icon: 2,title :'错误提示'});
				}
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}

//全部选中/取消
function check_del() {
     $("[name='ids[]']:checkbox").each(function() {
        console.log(this.checked);
        this.checked = !this.checked//this指当前的html对象
    });
}
// 全部删除
function delAll(){
    var arrChk=$("input[name='ids[]']:checked");
    var ids = '';
    // 遍历得到每个checkbox的value值并组合
    for (var i=0;i<arrChk.length;i++)
    {
         ids += arrChk[i].value+',';
    }
    // alert(ids);
    if (!ids) {
		layer.alert("请选择要删除的选项", {icon: 2,title :'错误提示'});
        return false;
    }
    // alert(ids);return;
    layer.confirm('确定要全部删除吗？', {
      btn: ['确定','取消']
    }, function(){
      $.post("{:U('delAll')}",{'ids':ids},function(result){
		if(result=='OK'){
			layer.msg('已删除',{icon:1,time:1000});
			setTimeout("location.reload()",1000);
        }else{
			layer.alert(result, {icon: 2,title :'错误提示'});
        }
      },'json');
    });
}
</script>
</body>
</html>


