<include file="Public/header"/>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 内容管理 <span class="c-gray en">&gt;</span> 单页管理 - {$Think.get.title}数据<if condition="$Think.get.id gt 0"> - {$dataInfo2.title}</if><a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>

<div class="page-container">
	<div class="text-c"> 
		<form action="{:U('lists')}" method="get">
	        <input type="hidden" name="pid" value="{$Think.get.pid}" />
	        <input type="hidden" name="id" value="{$Think.get.id}" />
	        <input type="hidden" name="title" value="{$Think.get.title}" />
			发布时间范围：
			<input type="text" name="time1" onfocus="WdatePicker({maxDate:'%y-%M-%d',skin:'twoer'})" id="logmin" class="input-text Wdate" style="width:108px;" value="{$Think.get.time1}" />
			-
			<input type="text" name="time2" onfocus="WdatePicker({maxDate:'%y-%M-%d',skin:'twoer'})" id="logmax" class="input-text Wdate" style="width:108px;" value="{$Think.get.time2}" />
			<input type="text" id="wd" name="keyword" placeholder="标题" style="width:330px" class="input-text" value="{$Think.get.keyword}" />
			<button class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 筛选</button>
		</form>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l">
		<a href="javascript:;" onclick="delAll()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> 
		<a class="btn btn-primary radius" onclick="show_quan('添加单页 - {$Think.get.title}数据<if condition="$Think.get.id gt 0"> - {$dataInfo2.title}</if>','/Admin/{$Think.CONTROLLER_NAME}/listsAdd?pid={$Think.get.pid}')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加单页 - {$Think.get.title}数据<if condition="$Think.get.id gt 0"> - {$dataInfo2.title}</if></a>
		<if condition="$Think.get.title"><a class="btn btn-primary radius" style="margin-left:4px" href="javascript:window.history.back();" title="返回"><i class="Hui-iconfont">&#xe66b;</i></a></if></span> 
		<span class="r">共有数据：<strong>{$count}</strong> 条</span> </div>
	<table class="table table-border table-bordered table-bg table-hover table-striped">
		<thead>
			<tr class="text-c">
                <th width="15"><input type="checkbox" onclick="check_del()"></th>
				<th width="25">ID</th>
				<th width="100">标题</th>
				<th width="80">发布时间</th>
				<if condition="$dataInfo.pic_used gt 0 and $Think.get.id gt 0"><th width="60">图片</th></if>
				<if condition="$dataInfo.pic_used gt 0 and $Think.get.id gt 0">
					<th width="50">链接地址</th>
				<else/>
					<th width="50">定向链接</th>
				</if>
		  		<th width="50">排序</th>
				<th width="50">状态</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
			<empty name="data"><tr class="text-c"><td colspan="50">还没有内容哦，赶紧添加吧！</td></tr></empty>
			<volist name="data" id="vo">
			<tr class="text-c">
                <td>
                    <input type="checkbox" name="ids[]" value="{$vo.id}">
                </td>
				<td>{$vo.id}</td>
				<if condition="$Think.get.id gt 0"> 
                <td><a title="点击修改" href="javascript:;" onclick="myTitle({$vo.id},'{$vo.title}')" class="ml-5" style="text-decoration:none">{$vo.title}</a></td> 
				<else/> 
                <td><a href="/Admin/{$Think.CONTROLLER_NAME}/lists?pid={$vo.id}&id={$vo.id}&title={$dataInfo.title}" >{$vo.title}</a></td> 
                </if>
                <style type="text/css">
					div.layui-layer-prompt input{width: 95% !important;}
                </style>
                <td>{$vo.add_time|date="Y-m-d H:i:s",###}</td>
                <if condition="$dataInfo.pic_used gt 0 and $Think.get.id gt 0">
                <td><img height="60px" width="60px" class="radius" src="{$vo.pic_path|get_cover_url}" /></td></if>
                <if condition="$dataInfo.pic_used gt 0 and $Think.get.id gt 0">
					 <td>{$vo.url|get_url}</td>
                <else/>
	                <td><a href="/Admin/{$Think.CONTROLLER_NAME}/lists?pid={$vo.id}&id={$vo.id}&title={$dataInfo.title}">进入管理</a></td>
                </if>
                <td>{$vo.sort}</td>
				<td>
				<if condition="$vo['status'] eq 0 ">
					<span class="label label-success radius">显示</span>
				<else />
					<span class="label label-defaunt radius">禁用</span>
				</if>
				</td>
				<td class="td-manage">
					<if condition="$vo['status'] eq 0 ">
						<a onclick="status({$vo.id},1)"  href="javascript:;" title="禁用" style="text-decoration:none"><i class="Hui-iconfont">&#xe674;</i></a>
					<else />
						<a onclick="status({$vo.id},0)"  href="javascript:;" title="显示" style="text-decoration:none"><i class="Hui-iconfont">&#xe679;</i></a>
					</if>
					<a title="排序" href="javascript:;" onclick="sort({$vo.id},'{$vo.sort}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe675;</i></a>
					<a title="编辑" href="javascript:;" onClick="show_quan('单页 - {$Think.get.title}数据<if condition="$Think.get.id gt 0"> - {$dataInfo2.title}</if>编辑','/Admin/{$Think.CONTROLLER_NAME}/listsAdd?pid={$Think.get.pid}&id={$vo.id}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
					<a title="删除" href="javascript:;" onclick="del({$vo.id})" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
				</td>
			</tr>
			</volist>
		</tbody>
	</table>
    <!-- 分页开始 -->
    <tr class="content">
         <td colspan="3" bgcolor="#FFFFFF"><div class="pages mt-5">{$page}</div></td>  
    </tr>
    <!-- 分页结束 -->
</div>
<!-- 公共js文件 -->
<include file="Public/js" />
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC_ADMIN__/plugins/My97DatePicker/4.8/WdatePicker.js"></script> 
<script>
/*增加/编辑-全屏窗口*/
function show_quan(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}

//状态修改
function status(id,status){
    if(status){
		var title = "禁用";
	}else{
		var title = "显示";
	}
	layer.confirm('确认要'+title+'吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '{:U("status")}', 
			data:{id:id,status:status},
			dataType: 'json',
			success:function(result){
				if(result=='OK'){
					layer.msg('已'+title,{icon:1,time:1000});
					setTimeout("location.reload()",1000);
				}else{
					layer.alert(result, {icon: 2,title :'错误提示'});
				}
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}
//排序修改
function sort(id,val){
	layer.prompt({value:val,title: '请输入数值，数值越大排序越前', formType: 0},function(sort, index){
		  layer.close(index);
		layer.msg('正在修改', {icon: 16});
		$.ajax({
			type: 'POST',
			url: '{:U("sort")}', 
			data:{id:id,sort:sort},
			dataType: 'json',
			success:function(result){
				if(result=='OK'){
					layer.msg('操作成功',{icon:1,time:1000});
					setTimeout("location.reload()",1000);
				}else{
					layer.alert(result, {icon: 2,title :'错误提示'});
				}
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}

//标题修改
function myTitle(id,val){
	layer.prompt({area: ['50%', '165px'],value:val,title: '信息标题', formType: 0},function(title, index){
		  layer.close(index);
		layer.msg('正在修改', {icon: 16});
		$.ajax({
			type: 'POST',
			url: '{:U("title")}', 
			data:{id:id,title:title},
			dataType: 'json',
			success:function(result){
				if(result=='OK'){
					layer.msg('操作成功',{icon:1,time:1000});
					setTimeout("location.reload()",1000);
				}else{
					layer.alert(result, {icon: 2,title :'错误提示'});
				}
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}
//删除
function del(id){
	layer.confirm('确认要删除该条内容吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '{:U(delete)}', 
			data:{id:id},
			dataType: 'json',
			success:function(result){
				if(result=='OK'){
					layer.msg('已删除',{icon:1,time:1000});
					setTimeout("location.reload()",1000);
				}else{
					layer.alert(result, {icon: 2,title :'错误提示'});
				}
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}

//全部选中/取消
function check_del() {
     $("[name='ids[]']:checkbox").each(function() {
        console.log(this.checked);
        this.checked = !this.checked//this指当前的html对象
    });
}
// 全部删除
function delAll(){
    var arrChk=$("input[name='ids[]']:checked");
    var ids = '';
    // 遍历得到每个checkbox的value值并组合
    for (var i=0;i<arrChk.length;i++)
    {
         ids += arrChk[i].value+',';
    }
    // alert(ids);
    if (!ids) {
		layer.alert("请选择要删除的选项", {icon: 2,title :'错误提示'});
        return false;
    }
    // alert(ids);return;
    layer.confirm('确定要全部删除吗？', {
      btn: ['确定','取消']
    }, function(){
      $.post("{:U('delAll')}",{'ids':ids},function(result){
		if(result=='OK'){
			layer.msg('已删除',{icon:1,time:1000});
			setTimeout("location.reload()",1000);
        }else{
			layer.alert(result, {icon: 2,title :'错误提示'});
        }
      },'json');
    });
}
</script>
</body>
</html>