@charset "utf-8";
/*公用提示信息*/
html,body{height:100%;margin:0}
.test{text-align:center;margin-top:60px;}
.test button{width:200px;height:40px;margin:5px 0;}


/*主要CSS*/
#mask_layer{
	background-color:#000;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=30)";  
	filter: alpha(opacity=30);  
	-moz-opacity: 0.3;  
	-khtml-opacity: 0.3;  
	opacity: 0.3;
	z-index:1000;
	position:fixed;
	_position:absolute; /*IE6*/
	top:0;left:0;
	width:100%;height:100%;	
}
#scs_alert{
	position:fixed;
	_position:absolute; /*IE6*/
	z-index:99999;
	top:50%;left:50%;
	margin-left:-144px;
	margin-top:-76px;
	text-align:left;
	width:314px;
	box-shadow:0 0 20px #888;
	-webkit-animation:zoomIn .2s ease both;
	   -moz-animation:zoomIn .2s ease both;
		-ms-animation:zoomIn .2s ease both;
			animation:zoomIn .2s ease both;
}
@-webkit-keyframes zoomIn {
	0% {
		opacity:0;
		-webkit-transform:scale3d(.2, .2, .2);
		   -moz-transform:scale3d(.2, .2, .2);
		   	-ms-transform:scale3d(.2, .2, .2);
				transform:scale3d(.2, .2, .2);
	}
	100% {
		opacity:1;
		-webkit-transform:scale3d(1, 1, 1);
		   -moz-transform:scale3d(1, 1, 1);
		   	-ms-transform:scale3d(1, 1, 1);
				transform:scale3d(1, 1, 1);
	}
}
@keyframes zoomIn {
	0% {
		opacity:0;
		-webkit-transform:scale3d(.2, .2, .2);
		   -moz-transform:scale3d(.2, .2, .2);
		   	-ms-transform:scale3d(.2, .2, .2);
				transform:scale3d(.2, .2, .2);
	}
	100% {
		opacity:1;
		-webkit-transform:scale3d(1, 1, 1);
		   -moz-transform:scale3d(1, 1, 1);
		   	-ms-transform:scale3d(1, 1, 1);
				transform:scale3d(1, 1, 1);
	}
}
#alert_top{height:35px;background:url(../images/close.jpg) no-repeat 284px center #fff;border-bottom:1px solid #e4e4e4;font:12px/35px "microsoft yahei";text-indent:13px;}
#alert_bg{background:/*url(../images/scs_bg.png) repeat-y 0 0*/#fff;text-align:center;*+height:1%}
#alert_bg:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
#alert_foot{height:13px;background:/*url(../images/scs_alert.png) no-repeat 0 -93px*/#fff}

#confirm_ok,#confirm_cancel,#alert_ok{
	width:89px;
	height:32px;
	display:block;
	float:left;
	text-align:center;
	overflow:hidden;
	text-decoration:none;
	line-height:30px;
	margin:5px 10px 5px 0;
	background:url(../images/rightblue.jpg) no-repeat 0 cener #fff;
	color:#4d4d4d;
	font-family:微软雅黑,宋体;
	font-size:16px;
	text-indent:108px
}
#confirm_ok{margin-left:47px;_margin-left:25px;}
#alert_ok{margin-left:97px;_margin-left:50px;display:none;}
#confirm_ok:hover,#confirm_cancel:hover,#alert_ok:hover{background-position:-89px -39px}
#confirm_ok:active,#confirm_cancel:active,#alert_ok:active{background-position:-178px -39px}
#inco_warn,#inco_error,#inco_confirm{
	width:87px;height:87px;
	background:url(../images/quit.jpg) no-repeat right center #fff;
}
#inco_ok{
	width:87px;height:87px;
	background:url(../images/rightblue.jpg) no-repeat right center #fff;
}
/*#inco_error{background-position:-41px 0}
#inco_warn{background-position:-82px 0}
#inco_confirm{background-position:-123px 0}*/
#alert_txt{
	text-align:left;
	color:#333;
	font-family:微软雅黑,宋体;
	font-size:14px;
	text-indent:14px;
}

#alert_bg table{margin-left: 20px;}